.container{
        background: url('/assets/imagenes/fondoregistroimagenes1.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
}

h2{
    color: white ;
}

.padding{
    padding: 24%;
}