nav{
    background-color: tan;
    overflow: hidden;
}

ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

ul li a:hover{
    /* background-color: green; */
    border: 1px solid white;
    border-radius: 5px;
}