<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
                                
        </button>
        <!-- <a class="navbar-brand" routerLink="/Principal">Inicio</a> -->
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a (click)="Ir('VerEventoDeHoy')">Ver Evento De Hoy</a></li>
            <li><a (click)="Ir('VerEventos')">Ver Eventos</a></li>
             <li><a (click)="Ir('VerClientes')">Ver Clientes</a></li>
             <li><a (click)="Ir('VerEstadisticas')">Ver Estadisticas</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a routerLink="/QuienSoy"><span class="glyphicon glyphicon-user"></span> Mis Datos</a></li> -->
                <li><a (click)="CerrarSesion()"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
              </ul>
      </div>
    </div>
  </nav>