/* .fondo{background-image: url("/assets/imagenes/fondocliente.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 1080px;
    margin: auto; */
    .fondo{

    background: url('/assets/imagenes/fondocliente.gif') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.padding{
    padding: 145px;
}