.fondo{background-image: url("/assets/imagenes/fondoempleado.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 1080px;
    margin: auto;
}

.padding{
    padding: 145px;
}