<div class="fondo">
  <h1>Proximos Eventos Del Salon</h1>
<table class="table">
  <thead>
      <tr>
          <th>Salon</th>
          <th>Direccion</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Reservado</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let evento of eventos">
       <td>{{evento.nombre}}</td>
       <td>{{evento.direccion}}</td>
       <td>{{evento.fecha_inicio}}</td>
       <td>{{evento.haFinalizado | estado}}</td>
       <td>{{evento.estaReservado | reservado}}</td>
       <!-- <td *ngIf="evento.haFinalizado == 0 && evento.estaReservado == 1"><app-boton-mesas [evento]="evento">Mesas</app-boton-mesas></td> -->
       <!-- <td *ngIf="evento.haFinalizado == 0 && evento.estaReservado == 1"><app-boton-mesa-recepcionista [evento]="evento"></app-boton-mesa-recepcionista></td> -->
    </tr>
  </tbody>
</table>
</div>