<div class="back-color">
  <div class="top-content">
    <div class="inner-bg">
        <div class="page-header">
            <!-- <h1>Bienvenido al Sistema de gestion de Eventos y Fiestas del Salon Palace Eventual</h1>
            <strong>La manera mas sencilla de organizar tu fiesta!</strong> -->
            <!-- <app-cabecera></app-cabecera> -->
            <h1>Salones De Eventos</h1>
            <p>Ignacio Sanabria</p>
            <button class="btn btn-info">
            <a class="enlaces" href="https://github.com/ignaciosanabria"target="_blank">en GitHub <i class="fa fa-github"></i></a></button>
        </div>
      <div class="container">
<div class="row">
    <br>
    <!-- <div class="page-header">
        <h1>Bienvenido al Sistema de gestion de Eventos y Fiestas del Salon Palace Eventual</h1>
        <strong>La manera mas sencilla de organizar tu fiesta!</strong>
        <app-cabecera></app-cabecera>
    </div> -->
  <div class="col-sm-5">
      <div class="form-box">
        <div class="form-top">
            <div class="form-top-left">
              <h3>Si sos empleado ingresa acá!</h3>
              <p>Rellena los campos con tu usuario y contraseña para ingresar</p>
            </div>
            <div class="form-top-right">
              <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="form-bottom">
            <div class="login-form">
                  <label>Mail:</label>
                  <input type="text" name="mailEmpleado" [(ngModel)]="mailEmpleado" placeholder="Ingrese su mail" class="form-control" id="mailEmpleado">
                  <label>Clave:</label>
                  <input type="password" name="form-emppassword" [(ngModel)]="claveEmpleado" placeholder="Ingrese su clave" class="form-control" id="form-emppassword">
                  <h2><p [hidden]="ocultarEsperarEmpleado" class="spinner"><i class="fa fa-spinner fa-spin"></i>Espere mientras procesamos sus datos...</p></h2>
                  <br>
                  <button mat-raised-button color="warn" class="btn btn-primary"(click)="LoginEmpleado()">Ingresar</button>
                  <br>
                  <button mat-raised-button color="warn" class="btn btn-success" (click)="TestAdmin()">Ingresar Admin</button>
                  <br>
                  <button mat-raised-button color="wanr" class="btn btn-success" (click)="TestEncargado()">Ingresar Encargado</button>
                  <br>
                  <button mat-raised-button color="warn" class="btn btn-success" (click)="TestRecepcionista()">Ingresar Recepcionista</button>
            </div>
        </div>
      </div>
  </div>
  <div class="col-sm-1 middle-border"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
      <div class="form-box">
        <div class="form-top">
            <div class="form-top-left">
              <h3>Si sos cliente ingresa acá!</h3>
              <p>Rellena los campos de abajo</p>
            </div>
            <div class="form-top-right">
              <i class="fa fa-pencil"></i>
            </div>
        </div>
        <div class="form-bottom">
            <div class="registration-form"><label>Mail:</label>
                <input type="text" name="mailCliente" [(ngModel)]="mailCliente" placeholder="Ingrese su mail" class="form-control" id="mailCliente">
                <label>Clave:</label>
                <input type="password" name="form-emppassword" [(ngModel)]="claveCliente" placeholder="Ingrese su clave" class="form-control" id="form-emppassword">
                  <h2><p [hidden]="ocultarEsperar" class="spinner"><i class="fa fa-spinner fa-spin"></i>Espere mientras procesamos sus datos...</p></h2>
                  <button mat-raised-button color="warn" class="btn btn-primary" (click)="LoginCliente()">Ingresar</button>
                  <button mat-raised-button color="warn" class="btn btn-success" (click)="TestCliente()">IngresarCliente</button>
                  <br><br>
                  <p><a routerLink="/RegistroCliente">Si es tu primera vez aquí - Registrate haciendo click aquí</a></p> 
            </div>
        </div>
      </div>
  </div>
</div>
</div>
</div>
</div>
<footer>
        <!-- <p class="invitado"><a routerLink="/LoginInvitado">Si sos invitado de un Evento - Hace click aquí</a></p> -->
        <p class="invitado"><a (click)=" mostrarFormularioInvitado()">Si sos invitado de un Evento - Hace click aquí</a></p>
        <div [hidden]="ocultarLoginInvitado">
          <div class="modal">
              <button (click)="cerrarFormularioInvitado()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            <form class="modal-content">
              <h2>Bienvenido Invitado</h2>
              <strong>Por favor solo ingresa tu correo electronico</strong>
              <br>
              <label>Mail:</label>
              <input type="text" [(ngModel)]="mailInvitado" name="mailInvitado" placeholder="Ingrese su mail" class="form-control">
              <br>
              <button type="button" class="btn btn-secondary" (click)="cerrarFormularioInvitado()">Cancelar</button>
              <button type="button" class="btn btn-info" (click)="LoginInvitado()">Ingresar</button>
              <button type="button" class="btn btn-success" (click)="TestInvitado()">Test Invitado</button>
              <br><br>
            </form>
          </div> 
          </div> 
      </footer>
</div>
