<div class="container">
  <div class="row">
    <div [hidden]="ocultarMesas">
      <div *ngIf="mesas"><!-- Div para validacion de que se carguen las mesas -->
      <ng-container *ngFor="let mesa of mesas">
        <!-- <app-mi-mesa [mesa]="mesa"></app-mi-mesa> -->
        <button class="btnMesa" (click)="AbrirMesa(mesa.id_mesa)"><p>Mesa Nro: {{mesa.nro_mesa}}</p><img src="../../../assets/imagenes/mesas.jpg" class="img-circle" width="250px" height="250px"></button>
      </ng-container>
      </div>
          <!-- <form>
            <h2>Bienvenido Cliente</h2>
            <strong>Ingresa los invitados que vos quieras!</strong>
            <br>
            <label>Mesas:</label>
            <select name="mesaElegida"[(ngModel)]="mesaElegida" (ngModelChange)="ElegirMesa($event)">
                <option [selected] [value]="0">
                <option *ngFor="let mesa of mesas" [value]="mesa | json">
                {{mesa.nro_mesa}}
                </option>
            </select>
            <br><br>
            <button class="btn btn-default" (click)="cerrarVerMesas()">Cancelar</button>
            <br><br><br>
            <app-mi-mesa *ngIf="mesaElegida != null" [mesa]="mesaElegida"></app-mi-mesa>
          </form> -->
        </div> 
  </div>
        </div> 