<!-- <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-inverse"> -->
<nav class="navbar navbar-expand-lg navbar-expand-sm">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
                              
      </button>
      <!-- <a class="navbar-brand" routerLink="/Principal">Inicio</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a (click)="Ir('EventosCliente')"><i class="fa fa-list-alt"></i> Mis Eventos</a></li>
           <li><a (click)="Ir('CrearEvento')"><i class="fa fa-calendar"></i> Crear Evento</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a (click)="Ir('MisDatosCliente')"><i class="fa fa-user"></i> Mis Datos</a></li>
              <li><a (click)="CerrarSesion()"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
              <!-- <p-confirmDialog key="dialog"></p-confirmDialog> -->
            </ul>
    </div>
  </div>
</nav>
<div class="row">
    <p-confirmDialog key="dialog"></p-confirmDialog>
</div>
<!-- Salir Sesion Dialog -->
<!-- <p-tabMenu [model]="items" [style]="{border:'1px solid black; background-color: red;'}"></p-tabMenu> -->
