<!-- <h1>¿Como llegar a Los Salones?</h1> -->
<div class="container">
<form class="cartaInvitacion">
<h3>Bienvenido otra vez {{nombreInvitado}}</h3>
<!-- this creates a google map on the page with the given lat/lng from
the component as the initial center of the map: -->
<h4>Tenes un evento para el día {{fechaEvento}}</h4>
<h4>El Evento Empieza a las 22 hs.</h4>
<h4>En El {{salonNombre}}</h4>
<p>Aquí te indicamos como llegar el salón en el caso de que no sepas como llegar</p>
</form>
<br><br>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <!-- <agm-marker [latitude]="lat" [longitude]="lng"> -->
      <agm-map-directions [origin]="origin" [destination]="destination">
    <!-- <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
    Hi, this is the content of the <strong>info window</strong>
    </agm-snazzy-info-window> -->
</agm-map-directions>
  <!-- </agm-marker> -->
  
  </agm-map>
  <button class="btn btn-success" (click)="VerIndicaciones()">Ver Como Llegar?</button>
  <button *ngIf="ocultarDirections == false" class="btn btn-danger" (click)="cerrarVentana()">Cerrar Ventana</button>
  <div [hidden]="ocultarDirections"><!-- Indica la manera de llegar y la distancia, el tiempo -->
    <div id="directionsPanel">
      </div>
    </div>

</div>