<div class="fondo">
<table border="1">
    <thead>
        <tr>
            <th>Salon</th>
            <th>Direccion</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Reservado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let evento of eventos">
         <td>{{evento.nombre}}</td>
         <td>{{evento.direccion}}</td>
         <td>{{evento.fecha}}</td>
         <td>{{evento.haFinalizado | estado}}</td>
         <td>{{evento.estaReservado | reservado}}</td>
        </tr>
    </tbody>
</table>
</div>

