<div class="container">
    <div class="row">
        <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8 col-lg-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-offset-2">
        <h1 style="color:white" [hidden]="!ocultarEventos">Espera mientras actualizamos tus eventos...</h1>
        <div [hidden]="ocultarEventos">
<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Eventos</h3>
        </div>
        <table class="table" id="dev-table">
                <thead>
                    <tr>
                            <th scope="col">Salon</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Borrar</th>
                            <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let evento of eventos">
                                <td>{{evento.nombre}}</td>
                                <td>{{evento.direccion}}</td>
                                <td>{{evento.fecha_inicio}}</td>
                                <td *ngIf="evento.haFinalizado == 'si' || evento.haFinalizado == 'cancelado'">{{evento.haFinalizado | estado}}</td>
                                <td *ngIf="evento.estaReservado == 'si'">{{evento.estaReservado | reservado}}</td>
                                <!-- Tratar de Cambiar por Router Link -->
                                <td><button class="btn btn-danger" (click)="BorrarEvento(evento.id_evento)">Borrar</button></td>
                                <td *ngIf="evento.haFinalizado == 'no' && evento.estaReservado == 'si'"><button class="btn btn-primary" (click)="verMesas(evento)">Ver Mesas</button><br><br>
                                <button class="btn btn-warning" (click)="CancelarEvento(evento.id_evento)">Cancelar</button>
                                </td>
                                <!-- <td *ngIf="evento.haFinalizado == 0 && evento.estaReservado == 1"><app-boton-mesas [evento]="evento">Mesas</app-boton-mesas></td> -->
                        </tr>
                </tbody>
            </table>
            <!-- <p-confirmDialog></p-confirmDialog> -->
</div>
        </div><!-- Cierre Ocultar Evento -->
        </div>
        <div class="row">
        <p-confirmDialog></p-confirmDialog>
        <!-- <p-growl [value]="msgs"></p-growl> -->
        </div>
    </div>

