<div class="fondo">
    <h1>Sus Eventos</h1>
<table class="table table-bordered table-responsive-lg">
    <thead>
        <tr>
            <th scope="col">Salon</th>
            <th scope="col">Direccion</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Reservado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let evento of eventos">
         <td>{{evento.nombre}}</td>
         <td>{{evento.direccion}}</td>
         <td>{{evento.fecha}}</td>
         <td>{{evento.haFinalizado | estado}}</td>
         <td>{{evento.estaReservado | reservado}}</td>
         <!-- Tratar de Cambiar por Router Link-->
         <td *ngIf="evento.haFinalizado == 0 && evento.estaReservado == 1"><button class="btn btn-warning" (click)="verMesas(evento)">Ver Mesas</button></td>
         <!-- <td *ngIf="evento.haFinalizado == 0 && evento.estaReservado == 1"><app-boton-mesas [evento]="evento">Mesas</app-boton-mesas></td> -->
        </tr>
    </tbody>
</table>
</div>

