

.table{
    overflow-x: auto;

}
tr th{
  text-align: center;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

tr td{
  text-align: center;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.tabla{
  background-color: chocolate;
}

.titulo{
  color: white;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}