<div class="container">
  <div class="row">
    <div class="col-sm-8 col-lg-8 col-lg-offset-2 col-sm-offset-2">
  <form class="formCrear">
  <!-- <h1>Bienvenida/o {{nombreCliente}}</h1> -->
  <h1>Bienvenido desde este pantalla podrás reservar un salon para tu evento!</h1>
  <br><br>
<h3>1) - Selecciona la fecha, buscaremos si esta disponible algún salon.</h3>
<br><br>
<!-- <p-calendar [(ngModel)]="date1" [showIcon]="true" [disabledDates]="invalidDates" [disabledDays]="[0,6]" [locale]="es" dateFormat="dd/mm/yy"></p-calendar> -->
<!-- <p-calendar [(ngModel)]="date1" [showIcon]="true" [locale]="es" dateFormat="dd/mm/yy" (onSelect)="onSelect($event)"></p-calendar> -->
<!-- <my-date-picker name="mydate" [options]="myDatePickerOptions"
[(ngModel)]="model" required (dateChanged)="onDateChanged($event)"></my-date-picker> -->
<p-calendar name="mydate" [(ngModel)]="date1" [showIcon]="true" [locale]="es" dateFormat="dd/mm/yy" showButtonBar="true" (onSelect)="onSelect($event)"></p-calendar>
<h4 [hidden]="ocultarSpinner"><i class="fa fa-spinner fa-spin"></i> Esperando mientras procesamos la busqueda de los salones...</h4>
<br><br>
</form> 

<h1 [hidden]="ocultarSalones">Selecciona Los Salones</h1>
<div [hidden]="ocultarSalones">
    <!-- <form [formGroup] = "registroForm" class="seleccion">
        <p-growl [value]="msgs" sticky="sticky"></p-growl>
    <re-captcha (resolved)=" showResponse($event)" siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" [formControl]="registroCaptcha"></re-captcha>
    <div *ngIf="registroCaptcha.valid" class="alert alert-success">
        El Captcha es válido.
      </div>
      <div *ngIf="registroCaptcha.invalid" class="alert alert-danger">
          <div *ngIf="registroCaptcha.errors.required">
              El captcha es requerido.
            </div>
      </div>
    </form> -->
    <p-dataList [value]="salonesDisponibles" [rows]="3">
        <p-header>
            Salones disponibles para el dia seleccionado.
        </p-header>
        <ng-template let-salonDisponible pTemplate="item">
            <div class="ui-g ui-fluid salonDisponible-item">
                <div class="ui-g-12 ui-md-3" style="text-align:center">
                    <img *ngIf="salonDisponible.id_salon == 1" src="../../../assets/imagenes/salonroyalnight1.jpg" class="img-rounded img-responsive" width="125px" height="125px">
                    <img *ngIf="salonDisponible.id_salon == 2" src="../../../assets/imagenes/salonmelody.png" class="img-rounded img-responsive" width="125px" height="125px">
                    <img *ngIf="salonDisponible.id_salon == 3" src="../../../assets/imagenes/villajuanita1.jpg" class="img-rounded img-responsive" width="125px" height="125px">
                  </div>
                <div class="ui-g-12 ui-md-9 salonDisponible-details">
                    <div class="ui-g">
                        <div class="ui-g-2 ui-sm-6">Nombre: </div>
                        <div class="ui-g-10 ui-sm-6">{{salonDisponible.nombre}}</div>
                        
                        <div class="ui-g-2 ui-sm-6">Direccion: </div>
                        <div class="ui-g-10 ui-sm-6">{{salonDisponible.direccion}}</div>
                        <!-- Boton para seleccion el Salon -->

                        <p-dialog header="Eleccion" [(visible)]="display" modal="modal" width="600" [responsive]="true">
                            <p style="font-size:25px">Confirma la reservación del salon?</p>
                            <form [formGroup] = "registroForm">
                            <p *ngIf="!registroCaptcha.valid" style="font-size:16px;color:red">* Necesitamos confirmar que no eres un humano, por favor haz click en el captcha!</p>
                                <p-growl [value]="msgs" sticky="sticky"></p-growl>
                            <re-captcha (resolved)=" showResponse($event)" siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" [formControl]="registroCaptcha"></re-captcha>
                            <!-- <div *ngIf="registroCaptcha.valid" class="alert alert-success">
                                Gracias por registrar tu validación.
                              </div>
                              <div *ngIf="registroCaptcha.invalid" class="alert alert-danger">
                                  <div *ngIf="registroCaptcha.errors.required">
                                      El captcha es requerido.
                                    </div>
                              </div> -->
                              <div *ngIf="registroCaptcha.valid" style="font-size:16px;color:green;">
                                Gracias por registrar tu validación.
                              </div>
                            </form>
                                   <p-footer>
                                    <button type="button" class="btn btn-danger" (click)="display=false">Cancelar</button>
                                    <button type="button" class="btn btn-success" [disabled]="!registroForm.valid" (click)="ConfirmarEleccion()"><i *ngIf="ocultarProceso == false" class="fa fa-spinner fa-spin"></i>Aceptar</button>
                                </p-footer>
                        </p-dialog>
                        <div class="ui-g-10 ui-sm-6"><button class="btn btn-lg btn-primary" (click)="Seleccion(salonDisponible)">Seleccionar</button></div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataList>

    <!-- Confirm Button que te lleva a la encuesta -->

    <!-- <p-confirmDialog></p-confirmDialog> -->
    <!-- <p-dialog header="Encuesta" [(visible)]="display2" modal="modal2" width="600" [responsive]="true">
        <p style="font-size:25px">Tu opinión nos importa mucho para nosotros
        por eso te pedimos si podes completar una breve encuesta sobre nosotros.
        Muchisimas gracias! </p>
          <p-footer>
                <button type="button" class="btn btn-danger" (click)="encuesta=false">Cancelar</button>
                <button type="button" class="btn btn-success">Aceptar</button>
            </p-footer>
    </p-dialog> -->

    

</div><!-- Cierre Div ocultarSalones Selecciona los Salones -->
 </div><!-- Cierre Div Col -->

  </div><!-- Cierre Row -->
  <div class="row">
      <p-confirmDialog></p-confirmDialog>
  </div>
  <div class="row padding">
  </div>
</div>

