<h1>Selecciona El Salon</h1>

<my-date-picker name="mydate" [options]="myDatePickerOptions"
[(ngModel)]="model" required (dateChanged)="onDateChanged($event)"></my-date-picker>

<div [hidden]="ocultarSalones">
  <table border="1">
    <thead>
      <tr>
        <th>Direccion</th>
        <th>Nombre</th>
      </tr>
    </thead>
  <tbody>
     <tr *ngFor="let salon of salonesDisponibles">
       <td>{{salon.direccion}}</td>
       <td>{{salon.nombre}}</td>
       <td><button (click)="Elegir(salon)">Elegir</button></td>
     </tr>
  </tbody>
  </table>
</div>

