<div class="container">
    <div class="row">
         <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Eventos</h3>
                        </div>
                        <table class="table" id="dev-table">
  <thead>
      <tr>
          <th>Salon</th>
          <th>Direccion</th>
          <th>Nombre Completo Cliente</th>
          <th>Nro Doc Cliente</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Acciones</th>
          <th>Borrar</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let evento of eventos">
       <td>{{evento.salon_nombre}}</td>
       <td>{{evento.salon_direccion}}</td>
       <td>{{evento.nombre_cliente}} , {{evento.apellido_cliente}}</td>
       <td>{{evento.documento_cliente}}</td>
       <td>{{evento.fecha_inicio}}</td>
       <td *ngIf="evento.haFinalizado == 'si' || evento.haFinalizado == 'cancelado'">{{evento.haFinalizado | estado}}</td>
       <td *ngIf="evento.estaReservado == 'si'">{{evento.estaReservado | reservado}}</td>
       <!-- Revisar lo de Finalizar y Cancelar -->
       <!-- <td><button *ngIf="evento.estaReservado == 'si' && evento.fecha_fin <= fechaActual"(click)="FinalizarEvento(evento)" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i>Finalizar Evento</button></td> -->
       <td><button class="btn btn-danger" (click)="BorrarEvento(evento)"><i class="fa fa-trash-o" aria-hidden="true"></i>Borrar Evento</button></td>
      </tr>
  </tbody>
</table>
</div>
<br><br>
<a class="btn btn-success" href="http://localhost/API_Final/clases/descargarCsvEventos.php" target="_blank"><i class="fa fa-file-excel"></i> Descargar Excel</a>
<a class="btn btn-danger" href="http://localhost/API_Final/clases/descargarPDF.php" target="_blank"><i class="fa fa-file-pdf"></i> Descargar PDF</a>
        </div>
    </div>
</div>