<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
    <form>
  <img src="../../../assets/imagenes/sesion_expirada.png" width="500px" height="500px">
<h1>Advertecia su sesión ha caducado!</h1>
<h2>Sera redirigido a la página principal para volver a iniciar sesión</h2>
<h4><p class="spinner"><i class="fa fa-spinner fa-spin"></i>Espere mientras lo redirigimos a la página principal...</p></h4>
    </form>
    </div>
  </div>
  <div class="row row2">
  </div>
</div>
